<form [formGroup]="newsForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="title">Enter title:</label>
    <input type="text" name="title" formControlName="title">   
  </div>

  <div *ngIf="newsForm.controls['title'].invalid && (newsForm.controls['title'].dirty || isSubmitted)">
    <span *ngIf="newsForm.controls['title'].errors.required">
      Title is required!
    </span>
  </div>

  <div>
    <label for="description">Enter description:</label>
    <input type="text" name="description" formControlName="description">  
  </div>

  <div *ngIf="newsForm.controls['description'].invalid && (newsForm.controls['description'].dirty || isSubmitted)">
    <span *ngIf="newsForm.controls['description'].errors.required">
      Description is required!
    </span>
  </div>

  <div>
    <button type="submit">Add!</button>
    <button type="" (click)="onGoBack()">Go Back</button>
  </div>

</form>